<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d8n9.parkingloc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.d8n9.parkingloc.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name="com.d8n9.parkingloc.LoginActivity"
            android:label="Login Account" >
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="com.d8n9.parkingloc.RegisterActivity"
            android:label="Register New Account" >
        </activity>
        <activity
            android:name="com.d8n9.parkingloc.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>